<h1>Posts</h1>

<br>
<%= link_to "New", new_post_path, class: "btn btn-primary" %>
<hr>

<% @posts.map(&:pictures).each do |picture|  %>
	<% picture.each do |p| %>
		<%= link_to "#{image_tag p.image.medium}".html_safe, post_path(p.post_id) %>
	<% end %>
<% end %>