<!DOCTYPE html>
<html>
<head>
  <title>Uploader</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<!-- 1 -->
<link href="https://raw.githubusercontent.com/enyo/dropzone/master/dist/dropzone.css" type="text/css" rel="stylesheet" />
 
<!-- 2 -->
<script src="https://raw.githubusercontent.com/enyo/dropzone/master/dist/dropzone.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>